.gallery{
    list-style: none;
    float:left;
    margin-left: -35px;
}
.gallery > li{
    display: inline-flex;
}

.etalase{
    border:1px solid #eeeeee;
    margin:9px;
    width:187px;
}
.etalase-img{
    height:150px;
    padding:10px;
}

.etalase-img > img{
    height:130px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.etalase-content{
    height:50px;
    text-align: center;
}
.etalase-foot{
    height:50px;
    text-align: center;
}